* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.containerAddAeroport {
  width: 86%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.containerAddAeroport .containerBreadCrumbs {
  width: 100%;
  height: max-content;
}

.containerAddAeroport .containerContent {
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: column;
  padding: 10px 15px;
  align-items: center;
}

.containerAddAeroport .containerContent .containerTitle {
  width: 100%;
  height: max-content;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 20px;
  align-items: center;
  font-size: 3em;
  font-weight: 600;
  font-family: sans-serif;
}

.containerContent .containerEditInfo {
  width: 80%;
  display: flex;
  flex-direction: column;
  padding: 10px 70px;
  background-color: rgb(222, 222, 222);
  border-radius: 7px;
}

.containerContent .containerEditInfo > div {
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
}

.containerEditInfo > div > div {
  width: 45%;
  height: max-content;
  display: flex;
  flex-direction: column;
  font-size: 1.2em;
}

.containerEditInfo > div > div > input,
.containerEditInfo > div > div > select {
  padding: 4px 2px;
  border-radius: 3px;
  border: none;
  outline: none;
}

.containerEditInfo > div > div > label {
  margin-bottom: 5px;
}

.containerEditInfo > div > div > label::after {
  content: "*";
  color: red;
}

.containerEditInfo > div[class="children4"] {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.containerEditInfo > div[class="continainerButtonSubmit"] {
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.containerEditInfo .continainerButtonSubmit img {
  width: 25px;
  height: 25px;
  margin-right: 5px;
}

.continainerButtonSubmit button {
  display: flex;
  flex-direction: row;
  padding: 10px 20px;
  background-color: #0474fc;
  color: white;
  border-radius: 7px;
  cursor: pointer;
}
