* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.containerHeaderAdmin {
  background-color: #04243c;
  color: white;
  display: flex;
  flex-direction: column;
  width: 14%;
  height: 100vh;
}

.containerHeaderAdmin hr {
  opacity: 0.5;
}

.containerHeaderAdmin .containerImgLogo {
  width: 100%;
  display: flex;
  flex-direction: row;
  height: max-content;
  justify-content: space-between;
  align-items: center;
  height: 10%;
  background-color: #093150;
  padding: 0px 5px;
}

.containerHeaderAdmin .containerImgLogo .imgUser {
  height: 50px;
  width: 50px;
  transform: scale(1.2);
}

.containerHeaderAdmin .containerImgLogo .imglogo {
  width: 35px;
  height: 35px;
}

.containerHeaderAdmin .containerOption {
  padding: 20px 5px;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.containerHeaderAdmin .containerOption > a {
  width: 100%;
  height: max-content;
  cursor: pointer;
  margin-bottom: 5px;
  padding: 7px 7px;
  border-radius: 4px;
}

.containerHeaderAdmin .containerOption > a:hover {
  background-color: #093150;
}

.containerHeaderAdmin .containerOption > a > div {
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.containerHeaderAdmin .containerOption .Option1 img,
.Option4 img {
  transform: scale(0.8);
}

.containerHeaderAdmin .containerOption > a > div > img {
  width: 35px;
  height: 35px;
  margin-right: 3px;
}

.containerHeaderAdmin .containerOtherOption {
  display: flex;
  flex-direction: column;
  padding: 10px 10px;
  background-color: #093150;
  justify-content: center;
  min-height: 5%;
  width: 100%;
}

.containerHeaderAdmin .linkDiscount {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: max-content;
  padding: 7px 7px;
  border-radius: 4px;
}

.containerHeaderAdmin .linkDiscount:hover {
  background-color: #04243c;
}

.containerHeaderAdmin .linkDiscount div {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: max-content;
  align-items: center;
}

.containerHeaderAdmin .linkDiscount div img {
  width: 35px;
  height: 35px;
  transform: scale(0.8);
}
